{% extends 'base.html.twig' %}

{% block body %}
{#    <form method="get">#}
{#        <label for="search"></label>#}
{#        <input type="text" id="search" name="search" />#}
{#    </form>#}

{#    <div style="display: flex; align-content: center; justify-content: center">#}
{#        {{ render_map(map, {style: 'height: 500px; width: 500px', id: 'map'}) }}#}
{#    </div>#}


    <div style="display: flex; justify-content: center; align-items: center;">
        <div id="map" style="width: 992px; height: 400px;"></div>
    </div>
{% endblock %}
